*.jpg
*.jpeg
*.png
*.gif
*.pyc
*.psd
settings.py
jquery.royalslider.min.js
royalslider.css
.DS_Store
new-old/
/data/
/static/static_work/
/public_html
/node_modules
/templates
/also
/static
/data
/.sass-cache
