body,html{
	padding:0;
	margin:0;
	width:100%;

	font-family:"Relative Book", 'Century Gothic', Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal;

	text-align: center;

	@include antialias;
	@include font-size(17px);

	background-color: #000;
	color: $base;
	-webkit-overflow-scrolling: touch;
}

#wrapper > div{
	position: relative;
}

.table{
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	>div{
		display: table-cell;
		vertical-align: middle;
	}
}

.location{
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-bottom: 0.8em;
		padding-top: 1em;
		line-height: 1.4rem;
		a{
			color: $white;
			text-decoration: none;
		}
		@include at-query ($max, $inbetween) {
			font-size: 0rem;
			line-height: 0;
			a{
				font-size: 1rem;
				line-height: 1.4rem;
				display: block;
			}
		}
	}

@include keyframes(fadeIn) {
	0% { 
		opacity: 0; 
	}
	100% { 
		opacity: 1;
	}
}
#wrapper.animation > div{
	@include animation('fadeIn 2s forwards');	
}
#wrapper.is-exiting > div {
	@include animation('fadeIn 2s forwards');
	@include vendorize(animation-direction, alternate-reverse);
}