body,html{
	padding:0;
	margin:0;
	width:100%;
	text-align:center;
	line-height: 1.4;
	font-family:sans-serif;	
	font-family:"Raisonne Demibold", 'Century Gothic', Verdana, sans-serif; 
	font-size-adjust:0.5; 
	font-weight:600; 
	font-style:normal;
	text-align: center;
	//@include vendorize(-webkit-font-smoothing,antialiased);
	@include antialias;
	@include font-size(16px);

	background-color: #000;
	color: $black;
}

h1{	
	// padding: 1em 0 0.05em 0;
	// margin-bottom: 0.7em;
	// border-bottom: 5px solid black;
	font-size: 3em;
	// display: inline-block;
}
p{
	width: 80%;
	max-width: 800px;
	min-width: 300px;
	text-align: left;
	margin: 0 auto;
	font-size: 1.15em;
	line-height: 1.55em;
	letter-spacing: 0.025em;
	color: $black;
	margin: 0 auto;
}
ul,li{	
	padding:0;
	margin: 0;
}
a{
	color: $blue;
	&:hover{
		color: $purp;
	}
}
li{
	list-style: none;
}

#wrapper > div{
	position: relative;
}

.table{
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	>div{
		display: table-cell;
		vertical-align: middle;
	}
}
.hidden{
	display: none;
}

@include keyframes(fadeIn) {
	0% { 
		opacity: 0; 
		// top: 500px
	  	// transform: translate3d(0, 25%, 0);
	}
	100% { 
		opacity: 1;
		// top: 0;
		// transform: none;
	}
}
#wrapper.animation > div{
	@include animation('fadeIn 0.5s forwards');	
}
#wrapper.is-exiting > div {
	@include animation('fadeIn 0.5s forwards');
	@include vendorize(animation-direction, alternate-reverse);
}

// .archiveitem
// .archivelist