.archiveitem{
	background-color: #fff;
	padding-top: 200px;
	padding-top: 6em;
	color: $black;

	h1{
		// border-bottom: 2px solid $black;
		display: inline-block;
		margin-bottom: 1em;
		font-size: 3em;
		letter-spacing: 0.025em;
	}

	.portait,.landscape{
		// width:80%;
		margin:auto;
		// padding:9em 0;
		text-align:center; 
		position: relative;
		// @include at-query ($max, $inbetween) {
		// 	width: 100%;
		// 	padding: 5em 0;
		// }
		// @include at-query ($max, $medium) {
		// 	padding: 2em 0;
		// }	
		img{
			max-height: 80vh;
			max-width: 100%;
		}	
		padding: 5vh 0;	
	}
	// .portait {
	// 	height: 80%;
	// 	img {
	// 		height: 100%;
	// 	}
	// }
	// .landscape img{
	// 	width:80%;
	// 	@include at-query ($max, $inbetween) {
	// 		width: 95%;
	// 	}	
	// }
	.overlay{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		display: table;
		text-align: center;
		> div{
			display: table-cell;
			text-align: center;
			vertical-align: middle;					
		}
	}

	.video{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;			
		background-position:center;
		background-repeat: no-repeat;
		background-image: url('http://alsocollective.com/static/img/play.png');
		position: absolute;
		opacity: 0.5;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;	
		&:hover{
			opacity: 1;
		}			
	}

	p{
		width: 50%;
		max-width:500px;
		min-width: 300px;
		text-align: left;
		margin: 0 auto;
		line-height: 1.35em;
	}
	a{
		text-decoration: none;
		@include transition(color,0.25s,ease-in-out);
		// transition: all 0.25s;
		// -moz-transition: all 0.25s;
		// -webkit-transition: all 0.25s;
		// -o-transition: all 0.25s;
		color: inherit;
		text-decoration: underline;				
		&:hover{
			color: $linkColor;
		}
	}
	.offscreen{
		position: absolute;
		right: 9000;
		top: 0;
	}
}