.index{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	#carosole{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#content{
		position: relative;
		height: 100%;
		min-height: 100vh;
		background-color: $backgroundOverlay;
	}
	h1,p{
		margin: 0 auto;
		padding-bottom: 0.75em;
		font-size: 1em;
		text-align: center;

		color: $white;

		width: 80%;
		max-width: 700px;
		min-width: 300px;

		line-height: 1.35em;
		letter-spacing: 0.03em;
	}
	.link{
		padding: 2em 0;
		a{
			display: inline-block;
			border: 1px solid #fff;
			padding: 0.75em 1.1em;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			transition: background-color 0.25s;
			&:hover{
				transition: background-color 0.25s;
				background-color: #fff;
				color: $black;
			}			
			// @include transition(color background-color,2s,ease-in-out);
			// @include vendorize(tansition,"background-color 0.35s ease-in-out, color 0.35s ease-in-out");
		}
	}
	

	svg{
		padding: 2em 0 2em 0;
		height: 120px;

	}
	.indeximage{
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;		
	}

	@media screen and (max-height: 600px) {
		.table	{
			display: block;
			min-height: initial;
			>div{
				display: block;
			}
		}
		.location{
			position: static;
		}
	}
}