{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>ALSO Collective - Archive</title>
	{% include "header-meta.html" %}

	<title>ALSO Collective - Archive</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.min.css" %}">
</head>
<body>
	<div id="wrapper" class="animation">
		<div class="archivelist">
			<h1>ALSO Collective</h1>


			<h2>Projects On Display</h2>
			<ul>
				{% for project in  current%}<li><a href="/archive/{{project.slug}}">{{project.title|safe}}</a></li>{% endfor %}
			</ul>
			<h2>Archived Projects</h2>
			<ul>
				{% for project in  archived%}<li><a href="/archive/{{project.slug}}">{{project.title|safe}}</a></li>{% endfor %}
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="{% static "js/main.min.js" %}"></script>
</body>
</html>