{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>ALSO Collective - Archive</title>
	{% include "header-meta.html" %}

	<title>ALSO Collective - Archive</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.min.css" %}">
</head>
<body>
	<div id="wrapper" class="animation">
		<div class="archivelist">
			<h1 class="hidden">ALSO Collective</h1>
			<ul class="selected hidden">
				{% for project in  selected%}<li style="background-image:url({{MEDIA_URL}}{{project.main_image}})" class="backgroundimage">
					<a href="/archive/{{project.slug}}">{{project.title|safe}}</a>
				</li>{% endfor %}
			</ul><div class="relative">
				<div style="background-image:url({{MEDIA_URL}}{{work.0.main_image}})" class="backgroundimage"></div>
				<table cellspacing="0px"  rowspacing="0px">
					<tr class="spacer">
						<th colspan="3"><h1>our work</h1></th>
					</tr>
					{% for project in  selected%}
					<tr data-img="{{MEDIA_URL}}{{project.main_image}}">
						<td><a href="/archive/{{project.slug}}">{{project.title|safe}}</a></td>
						<td><a href="/archive/{{project.slug}}">{{project.project_type|safe}}</a></td>
						<td><a href="/archive/{{project.slug}}">{{project.short_description|safe}}</a></td>
					</tr>
					{% endfor %}
					<tr class="spacer">
						<th></th><th></th><th></th>
					</tr>
					{% for project in work%}
					<tr data-img="{{MEDIA_URL}}{{project.main_image}}">
						<td><a href="/archive/{{project.slug}}">{{project.title|safe}}</a></td>
						<td><a href="/archive/{{project.slug}}">{{project.project_type|safe}}</a></td>
						<td><a href="/archive/{{project.slug}}">{{project.short_description|safe}}</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static "js/main.min.js" %}"></script>
</body>
</html>