{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0,user-scalable=no" name="viewport">	
<meta name="msvalidate.01" content="CF43E0E693FD6DE4A4C4E9BCC83E0CA9" />

<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0,user-scalable=no" name="viewport">	


<meta name="google-site-verification" content="6lPQp8df9K1P7sGX4CyX3EkohLT2ibuXC7BCb9MtZBY" />

<!-- <meta name="description" content="ALSO Collective is an award winning multidisciplinary design studio based in Toronto, Canada. We explore design through research and experimentation that move beyond established practices."> -->


<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<meta name="description" content="Our passion is to solve business challenges through creative and collaborative methods that merge design, strategy, and technology to produce tailor-made solutions.">

<meta name="keywords" content="web design services, graphic design services, web design services, digital agency toronto, digital marketing agency, best website design, creative agency toronto">

<link rel="icon" type="image/png" href="{% static "img/favicon.ico" %}">

<link rel="stylesheet" href="//f.fontdeck.com/s/css/qcjoHpN0wv6Zv/fTv7rh5Vsm9Ww/alsocollective.com/58358.css" type="text/css" />

<meta property="og:title" content="ALSO Collective">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.alsocollective.com">
<meta property="og:image" content="http://www.also-static.com/alsocollective/uploaded/g44_01.jpg">
<meta property="og:site_name" content="ALSO Collective">
<meta property="og:description" content="Our passion is to solve business challenges through creative and collaborative methods that merge design, strategy, and technology to produce tailor-made solutions.">
<meta property="og:latitude" content="43.6502113">
<meta property="og:longitude" content="-79.3971984">
<meta property="og:street-address" content="196 Spadina Ave #408">
<meta property="og:locality" content="Toronto">
<meta property="og:region" content="ON">
<meta property="og:postal-code" content="M5T 2C2">
<meta property="og:country-name" content="Canada">
<meta property="og:email" content="collaborate@alsocollective.com">
<meta property="og:phone_number" content="416-506-9490">
<meta property="og:video" content="https://vimeo.com/76224210">

<script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
