{% load staticfiles %}
<!DOCTYPE html>
<html><head>
	<title>Tennis : {{current.title}}</title>
	{% include "header-meta.html" %}	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.min.css" %}">
</head>
<body>
	<div id="wrapper" class="animation">
		<div class="archiveitem">

			<h1>{{current.title|safe}}</h1>
			<p>
				{{current.text.0.text|safe}}
			</p>
			<div id="list">
			{% for image in current.image %}
				{% if image.link %}
				<div class="landscape">
					<a href="{{image.link}}"><div class="video"></div><img src="{{MEDIA_URL}}{{image.title}}" ></a>
				</div>
				{% else %}
				<div class="landscape">
					<img src="{{MEDIA_URL}}{{image.title}}" >
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class="back"><a href="/">
				Back
			</a></div>
		</div>
		<div class="location">
			{% include "address.html" %}
		</div>
	</div>

	<script type="text/javascript" src="{% static "js/main.min.js" %}"></script>
	{% include "footer.html" %}

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37086718-7', 'auto');
  ga('send', 'pageview');

</script>
</html>

