{% load staticfiles %}
<!DOCTYPE html>
<html><head>
	<title>{{current.title}}</title>
	{% include "header-meta.html" %}	
	{# <link href="./cutmr11_files/css" rel="stylesheet" type="text/css"> #}
	<link rel="stylesheet" type="text/css" href="{% static "css/style.min.css" %}">
</head>
<body>
	<div id="wrapper" class="animation">
		<div class="archiveitem">

			<h1>{{current.title}}</h1>
			<h1>{{MEDIA}}</h1>
			<p>
				{{current.text.0.text|safe}}
			</p>
			<div id="list">
			{% for image in current.image %}
				{% if image.link %}
				<div class="landscape">
					<a href="{{image.link}}"><div class="video"></div><img src="{{MEDIA_URL}}{{image.title}}" ></a>
				</div>
				{% else %}
				<div class="landscape">
					<img src="{{MEDIA_URL}}{{image.title}}" >
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static "js/main.min.js" %}"></script>

</body></html>

