{% extends "mobile/base.html" %}

{% block content %}
<div id="project">
	<div></div>
	<h1>{{title|safe}}</h1>
	<p>{{text.0.text|safe}}</p>
	<div class="project-images">
		{%for img in image %}
			{% if img.link%}
				<div class="background-strech" style="background-image:url('{{ MEDIA_URL }}{{img.title}}');">
					<a href="{{img.link}}">Video link</a>
				</div>
			{% elif img.title %}
				<img src="{{ MEDIA_URL }}{{img.title}}">
			{% endif%}
		{%endfor%}
	</div>
</div>

<div>
	<div class="project-nav"><a href="/work/{{prev}}">{% if prev%}prev{% endif %}</a><a href="/work/{{next}}">{% if next%}next{% endif %}</a></div>
	<div class="to-work-shadow">
		<a href="/work/" onclick="sendDownWork()">Work</a>
	</div>

	<script type="text/javascript">
		function sendDownWork(){
			$(".to-work-shadow").animate({bottom: "-100%"},1000);
		}
	</script>
</div>



<script type="text/javascript">
	console.log("this is rann");
	showAboutButton();
</script>

{%endblock%}




