/* COLOUR PALETTE */

/*

#000000 - Black
#3d3d3d - Dark Grey Secondary
#c6c8bb - Grey Secondary
#ffcc66 - yellow
#33ccff - blue
#9933ff - purple
*/

body{
	padding: 0;
	margin: 0;
}

.section{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow: scroll;
}

.section:active{
	width: 90%;
}

#staticBackground h1{
	font-size: 6em;
	margin: 0;
	color: #fff;
}



/*Work*/
	#work{
		background-color: #9933ff;
	}

/* about */
	#about{
		background-color: #33ccff;
	}

/* process */
	#process{
		background-color: #ffcc66;
	}

#globalNave{
	display: none;
}