html,
button,
input,
select,
textarea {
	-webkit-font-smoothing: antialiased !important;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	/*background-color:#bcd;*/
	font-size: 1em;
	line-height: 1.4;
	font-family:"Raisonne Demibold", 'Century Gothic', Verdana, sans-serif; font-size-adjust:0.5; font-weight:600; font-style:normal;

	padding:0;
	margin:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

strong {
	font-family:"Raisonne Demibold", 'Century Gothic', Verdana, sans-serif; font-size-adjust:0.5; font-weight:600; font-style:normal;
}

body {
	  /* fallback */
	  background-color: #1a82f7;
	  background-image: url(images/linear_bg_1.png);
	  background-repeat: repeat-y;

	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#fff));

	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(left, #33ccff, #fff);

	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(left, #33ccff, #fff);

	  /* IE 10 */
	  background: -ms-linear-gradient(left, #33ccff, #fff);

	  /* Opera 11.10+ */
	  background: -o-linear-gradient(left, #33ccff, #fff);
}

p {
	font-family:"Fortescue Regular", 'Times New Roman', Times, serif; font-weight:normal; font-style:normal;
}

a {
	position:relative;
	text-decoration:underline;
	font-size:inherit;
	color:#fff;
}

a:hover{
	/*width: 100%;*/ /*What was this doing here!?""
	/*background-color: #000;*/
}

h1 {
	font-size: 3.6em;

	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

h2 {
	font-size: 2em;
	color: #6ae;
}

h3 {
	font-size: 1em;
}

ul{
	text-decoration: none;
	list-style: none;
}

section {
	position: fixed;
	left: 100%;
	height: 34%;
	width: 20%;
	background-color: #444;
	overflow: hidden;
}

#contentWrapper{
	/*opacity: 0;*/
	height: 100%;
}

.invisibleButton{
	/*background-color: inherit;*/
	height: 100%
}

.invisibleButton:hover{
	/*background-color: inherit;*/
}

/* ASYNC FOR FONT DECK */
.wf-loading body {
    visibility: hidden;
}


.navList {
	margin: 0px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	width: inherit;
	padding: 0px;
	color: #fff;
}

.navList li{
	width: 100%;
	overflow: hidden;
	/*background-color: #fcc;*/
}

.navList li h3{
	margin: 0;
	display: block;
	/*padding: 1em 0em 1em 0em;*/
	width: 100%;
	text-align: center;
}

.navList li a{
	display: block;
	padding: 0;
	width: 90%;
	text-align: right;
	
	text-decoration:none;
	
	transition: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

#work .navList li a:hover{
	color: #9933ff;
}

#about .navList li a:hover{
	color: #33ccff;
}

#process .navList li a:hover{
	color: #e6dc5a;
}

.navList li a:hover{
	background-color: #fff;
	
	width: 80%;
	
	transition: all;
	transition-duration: 0.5s;
	transition-timing-function:linear;
	
}
/*.navList li a:active{
	background-color: #f00;
	width: 100%;
}*/

.defaultstate #staticBackground:hover, .defaultstate #widthOfWork:hover {
	background-color: #eee;
	transition: all;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.navstate section:hover {
/*	background-color: #eee;
	transition: all;
	transition-duration: 1s;
	transition-timing-function: ease-in;*/
}

/*#about .defaultstate #staticBackground:hover{
	color: #33ccff!important;
}*/

.navstate #staticBackground {
	margin-left: 0!important;
}

.navstate h1{
	margin: 0;
	font-size: 2em;
}

.navstate p{
	display: none;
}


#splash{
/*	position: relative;
	float: left;
	width: 100% ;
	height: 100%;
	overflow: hidden;*/
}

#splash iframe{
	width: 100%;
	height: 100%;
}

#splash h3{
	display: inline-block;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: 100%;
}



/***************
Articles
***************/
article{
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
	/*background-color: #00d;*/
	box-shadow: -2px 0px 30px #000;
	color: #fff;
}

#awards ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

#about_comrades ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

#about_comrades li {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0.5em;
	padding: 0;
}

#about_comrades h4 {
	padding: 0;
	margin: 0;
	color: #9933ff;
}

#about_comrades p{
	margin: 0;
	padding: 0;
}



article h1{
	/*background-color: #444;*/
	position: relative;
	margin: 0;
	padding: 0 0 0 0.5em;
}

article:active{
	cursor: -webkit-grabbing;
}

article img{
/*	width: 50%;
	height: auto;*/
}

article iframe{
	width: inherit;
	height: 100%;
	position: absolute;
}


#staticBackground{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: margin 1s;
	-moz-transition: margin 1s;
	-webkit-transition: margin 1s;
	-o-transition: margin 1s;
}

#staticBackground h1{
	/*transition: margin 1s, font-size 1s;
	-moz-transition: margin 1s, font-size 1s;
	-webkit-transition: margin 1s, font-size 1s;
	-o-transition: margin 1s, font-size 1s;*/
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
		
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
}

.defaultstate #staticBackground{
	margin-left: 0!important;
	display: table;
}

.defaultstate h1 {
	display: table-cell;
	vertical-align: middle;
}

.defaultstate p {
	display: none;
}


h1 span{
	display: inline-block;
}

/* adding to it as they shrink */
.huge{
	font-size: 100%;
}

.page{
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.page p{
	position: relative;
	padding: 0 1em 0 1em;
	font-size: 1em;
	color: #fff;
	line-height: 1.3em;
	margin: 0;
}

.page h1{
	/*background-color: #000;*/
	position: relative;
	padding: 0 0 0 0.3em;
	margin: 0;
}

.navstate .slider{
	padding-top: 10%;
	/*transition-duration: 1s;*/
}

.slider{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	padding: 0;
	/*transition-duration: 1s;*/
}

#backgroundAREA{
	position: fixed;
	opacity: 0;

	transition: opacity 1s, top 1s, left 1s;
	-moz-transition: opacity 1s, top 1s, left 1s;
	-webkit-transition: opacity 1s, top 1s, left 1s;
	-o-transition: opacity 1s, top 1s, left 1s;
}

/*
 _       _________ _______  _______ 
( (    /|\__   __/(  ____ \(  ____ \
|  \  ( |   ) (   | (    \/| (    \/
|   \ | |   | |   | |      | (__    
| (\ \) |   | |   | |      |  __)   
| | \   |   | |   | |      | (      
| )  \  |___) (___| (____/\| (____/\
|/    )_)\_______/(_______/(_______/
                                    
 ______   _______           ______   _______  _       
(  ___ \ (  ___  )|\     /|(  __  \ (  ___  )( (    /|
| (   ) )| (   ) || )   ( || (  \  )| (   ) ||  \  ( |
| (__/ / | |   | || (___) || |   ) || (___) ||   \ | |
|  __ (  | |   | ||  ___  || |   | ||  ___  || (\ \) |
| (  \ \ | |   | || (   ) || |   ) || (   ) || | \   |
| )___) )| (___) || )   ( || (__/  )| )   ( || )  \  |
|/ \___/ (_______)|/     \|(______/ |/     \||/    )_)

*/

/*************

/     \        |
| =|= | /=\ /= =/
 \/ \/  \=/ |  |\

*************/

#work{
	/*background-image: url("/static/img/background1.jpg");*/
	background-color: #9933ff;
	overflow: hidden;
	top: 0%;
}

#work:hover{
	/*background-color: #e77;*/
}

#work article{
	/*background-color: #98a;*/
	background-color: #9933ff;
}

#widthOfWork{
	height: 100%;
}
#contact{
	height: 100%;
}

#workButton{
	float: left;
	position: relative;
	width: 300px;
	height: 10px;
}

.backgroundImage{
	position: absolute;
	top:0;
	left: 0;
	z-index: 0;
	width: inherit!important;
	height: auto!important;
}


#work .page img{
	min-width: 100%;
/*	width: auto;
	min-width: inherit;*/
/*	min-width: inherit;
	height: auto;*/
	/*min-height: 100%;*/
}

#work .background {
	width: 100%;
	height: 100%;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}
#work .background img{
	left: 0 !important;
}

.background {
	width: 100%;
	height: 100%;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}

.fullAbsolute{
	height: 70%;
	position: absolute;
	width: inherit;
}

.playvideo-button{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position:center;
	background-repeat: no-repeat;
	background-image: url('http://alsocollective.com/static/img/play.png');
	position: absolute;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.playvideo-button:hover{
	opacity: 0.5;
}

/*******************
About
*******************/

#about{
	top: 33.33%;
	background-color: #33ccff;
	overflow: hidden;
}
#about:hover{
	/*background-color: #e77;*/
}
#about article{
	/*background-color: #98a;*/

	background-color: #33ccff;
}

#about .fullAbsolute {
	position: relative;
}

#map-canvas {
	height: 100%;
	width: 100%;
}


.positionBottom {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

#history p{
	width: 80%;
	/*background-color: #fff;*/
	margin: 2em auto 0 auto;
	padding: 2em 1em 2em 1em;
	columns:2em 2;
	-webkit-columns:2em 2; /* Safari and Chrome */
	-moz-columns:2em 2; /* Firefox */
}

#mandate p{
	width: 80%;
	/*background-color: #fff;*/
	margin: 2em auto 0 auto;
	padding: 2em 1em 2em 1em;
	columns:2em 2;
	-webkit-columns:2em 2; /* Safari and Chrome */
	-moz-columns:2em 2; /* Firefox */
}

#about_people .page .imageContainer{
	height: 50%;
	overflow: hidden;
}

#about_people .page .profileImage{
	width: 100%;
	height: auto;
}

#about_people .page h1{
	margin:	0;
	background-color: none;
	text-align: center;
}

#about_contact #map-canvas img{
	width: 100%;
	height: auto;
}

/*#people .page p{
	width: 90%;
	height: 100%;
	margin: 0;
	opacity: 0;
	background-color: #33ccff;
	font-size: 1.3em;
	color: #fff;
	line-height: 1.2em;
	padding: 1em 5em 0 1em;
	vertical-align: middle;
	position: relative;
	font-family: "Fortescue Regular", 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
	display: block;
}

#people .page p:hover{
	opacity: 1;
}*/

.biodesc {
	width: 90%;
	height: 100%;
	margin: 0;
	opacity: 0;
	background-color: #33ccff;
	/*font-size: 0.5em;*/
	color: #fff;
	/*line-height: 1.2em;*/
	padding: 1em 5em 0 1em;
	vertical-align: middle;
	position: relative;
	font-family: "Fortescue Regular", 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
	display: block;
}

.biodesc:hover {
	opacity: 1;
}

.biodesc h4{
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.biodesc p{
	margin: 0.5em 0 0 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.3em;
}

.biodesc strong{
	font-size: 0.8em;
	text-transform: uppercase;
	color: #9933ff;
}


.activestate #staticBackground h1{
	color: #fff;
	
	font-size: 10em;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	
	width: 65%;
	height: 45%;
	
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	z-index: 0;
}
.gm-style-iw #smith-address{
	color: #000;
}

/*******************
process
*******************/

#process{
	top: 66.6666%;
	background-color: #ffcc66;
}

#process:hover{
	/*background-color: #e77;*/
}

#process article{
	/*background-color: #98a;*/
}

.instaPic{
	height: 100%;
}

.instaPic div{
	float: left;
	width: inherit;
	height: 50%;
	font-size: 1em;
}

.instaPic div img{
	position: absolute;
	width: inherit;
	height: auto;
}

.instaPic div div{
	position: relative;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.instaPic div div:hover{
	background-color: #ffcc66;
	color:#fff;
	opacity: 0.8;
}

.instaPic h1{
	width: inherit;
	position: absolute;
	clear: both;
}

.hiden{
	display: none;
}

#globalNave{
	position: fixed;
	left: -65px;
	bottom: -57px;
	width: 136px;
	height: 120px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: none;
	overflow: hidden;
}

#globalNave a{
	/*padding: 0.5em;*/
	text-decoration: none;
	color: #fff;
	width: 130px;
	height: 100px;
	display: block;
	margin: 0 auto 0 auto;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ff3399;
}

#globalNave a:hover{
	color: #ff3399;
	background-color: #fff;
}

.people-first {
	text-align: left!important;
}

.project .background.page a {
	z-index: 999;
}

/* Pintrest Stuff */
/*#work .page.background a {
	overflow: hidden;
	position: absolute;
	right: 1em;
	bottom: 1em;
	text-align: right;
}*/

#work .page.background a {
position: absolute;
bottom: 10px;
right: 10px;
}

#work .page.background a:hover {
position: absolute;
bottom: 10px;
right: 10px;
}

#work .page.background a img{
	min-width: inherit;
	min-height: inherit;
	opacity: 0.5;
}

#work .page.background:hover a img{
	/*display: inline-block;*/
	opacity: 1;
}

.transition-all-2{
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

/*
BLUE: #33ccff
YELLOW: #e6dc5a
PINK: #ff3399
OTHER PURPLE: #9933ff
*/