html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100%; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  overflow: hidden;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Relative Book", 'Century Gothic', Verdana, sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 17px;
  font-size: 1.0625rem;
  background-color: #000;
  color: white;
  -webkit-overflow-scrolling: touch; }

#wrapper > div {
  position: relative; }

.table {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 100vh; }
  .table > div {
    display: table-cell;
    vertical-align: middle; }

.location {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.8em;
  padding-top: 1em;
  line-height: 1.4rem; }
  .location a {
    color: white;
    text-decoration: none; }
  @media screen and (max-width: 900px) {
    .location {
      font-size: 0rem;
      line-height: 0; }
      .location a {
        font-size: 1rem;
        line-height: 1.4rem;
        display: block; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
#wrapper.animation > div {
  -webkit-animation: fadeIn 2s forwards; }

#wrapper.is-exiting > div {
  -webkit-animation: fadeIn 2s forwards;
  -webkit-animation-direction: alternate-reverse;
  -ms-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
  -o-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

.archivelist {
  line-height: 1.35em;
  max-width: 100%;
  overflow: hidden; }
  .archivelist svg {
    height: 120px;
    display: block;
    margin: 0 auto;
    padding-bottom: 4em; }
  .archivelist a {
    color: black;
    text-decoration: none; }
  .archivelist .relative {
    position: relative; }
  .archivelist .relative .backgroundimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1200px) {
      .archivelist .relative .backgroundimage {
        background-size: auto 100%; } }
    .archivelist .relative .backgroundimage.nonactive {
      opacity: 0; }
  .archivelist .selected {
    margin-bottom: -1px;
    height: 400px;
    height: 20vh; }
    .archivelist .selected li {
      width: 33%;
      height: 100%;
      padding: 0;
      display: inline-table; }
      .archivelist .selected li > a {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
    .archivelist .selected .backgroundimage {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .archivelist .selected a {
      background-color: rgba(0, 0, 0, 0.25);
      color: transparent; }
      .archivelist .selected a:hover {
        background-color: transparent;
        color: #333333; }
  .archivelist table {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.65);
    letter-spacing: .045em; }
    .archivelist table td {
      position: relative; }
      .archivelist table td .editor {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #000;
        padding: 0; }
        .archivelist table td .editor:hover {
          color: #fff; }
    .archivelist table tr:hover {
      background-color: #fff; }
      .archivelist table tr:hover a {
        color: #333333; }
    .archivelist table tr.spacer:hover {
      background-color: transparent; }
    .archivelist table .spacer th {
      padding: 100px 0;
      padding: 10vh 0; }
      .archivelist table .spacer th h1 {
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 32px;
        font-size: 2rem; }
    .archivelist table tr:first-child th {
      padding: 200px 0;
      padding: 20vh 0; }
    .archivelist table tr {
      border-bottom: 2px solid #fff; }
    .archivelist table td {
      vertical-align: top;
      width: 25%; }
      .archivelist table td:last-child {
        width: 50%; }
    .archivelist table a {
      padding: 1em 5%;
      width: 90%;
      height: 100%;
      display: inline-block;
      color: #fff; }
  @media screen and (max-width: 900px) {
    .archivelist table {
      display: inline-block; }
      .archivelist table tr {
        display: block; }
      .archivelist table td {
        display: inline-block;
        width: 100%; }
        .archivelist table td a {
          padding: 0.5rem 1rem 0 1rem; }
        .archivelist table td:first-child {
          font-weight: bolder; }
        .archivelist table td:nth-child(2) {
          margin: -0.35rem 0; }
          .archivelist table td:nth-child(2) a {
            font-size: 0.8rem;
            padding-top: 0rem; }
        .archivelist table td:last-child {
          width: 100%; }
          .archivelist table td:last-child a {
            padding: 0rem 1rem 1rem 1rem; }
        .archivelist table td .editor {
          left: inherit;
          right: 0; }
      .archivelist table .spacer th {
        margin: 0 auto;
        display: block; } }

@media screen and (max-width: 1120px) {
  .touch .archivelist .backgroundimage {
    display: none; } }

.archiveitem {
  background-color: #fff;
  padding-top: 200px;
  padding-top: 6em;
  color: #333333; }
  .archiveitem h1 {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 3em;
    letter-spacing: 0.025em; }
  .archiveitem .portait, .archiveitem .landscape {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 5vh 0; }
    .archiveitem .portait img, .archiveitem .landscape img {
      max-height: 80vh;
      max-width: 100%; }
  .archiveitem .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: table;
    text-align: center; }
    .archiveitem .overlay > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .archiveitem .video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("http://alsocollective.com/static/img/play.png");
    position: absolute;
    opacity: 0.5;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .archiveitem .video:hover {
      opacity: 1; }
  .archiveitem p {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.35em; }
  .archiveitem a {
    text-decoration: none;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    color: inherit;
    text-decoration: underline; }
    .archiveitem a:hover {
      color: #9933ff; }
  .archiveitem .offscreen {
    position: absolute;
    right: 9000;
    top: 0; }

.index {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative; }
  .index #carosole {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .index #content {
    position: relative;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.65); }
  .index h1, .index p {
    margin: 0 auto;
    padding-bottom: 0.75em;
    font-size: 1em;
    text-align: center;
    color: white;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    line-height: 1.35em;
    letter-spacing: 0.03em; }
  .index .link {
    padding: 2em 0; }
    .index .link a {
      display: inline-block;
      border: 1px solid #fff;
      padding: 0.75em 1.1em;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      transition: background-color 0.25s; }
      .index .link a:hover {
        transition: background-color 0.25s;
        background-color: #fff;
        color: #333333; }
  .index svg {
    padding: 2em 0 2em 0;
    height: 120px; }
  .index .indeximage {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; }
  @media screen and (max-height: 600px) {
    .index .table {
      display: block;
      min-height: initial; }
      .index .table > div {
        display: block; }
    .index .location {
      position: static; } }
